html {
    scroll-behavior: smooth;
}

.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/img/main.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* gradient.css */
.navigation-background {
    background: linear-gradient(to right, #17499a, #ba0eca);
}

.timeline {
    position: relative;
    max-width: 2000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2px 2fr; /* Adjust this line */
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
}


.timeline::before {
    content: "";
    grid-column: 2;
    grid-row: 1 / span 20;
    background: rgb(225, 225, 225);
    border-radius: 1px;
}

.timeline-item {
    grid-column: 3;
    margin-inline: 1.5rem;
    grid-row: span 2;
    margin-bottom: 15px;
    display: grid;
    grid-template-rows: min-content min-content min-content;
}

.title, .descr {
    font-size: 20px;
}

body {
    -webkit-text-size-adjust: 100%;
    scroll-padding-top: 80px; /* Adjust this value to match your navbar's height */
}

.experience-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #5a5859, #b1a08c);
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures the navbar is always on top */
}

.custom-font-color {
    color: #f0f2df
}