/* Pedro */
.spinner {
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
    animation: rotate 6s linear infinite;
  
    img {
      display: block;
      width: 100%;
      animation: bounce 0.2s linear infinite alternate;
    }
}
  
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(-360deg);
    }
}
  
@keyframes bounce {
    from {
      transform: translateY(-10%);
    }
  
    to {
      transform: translateY(10%);
    }
}


html {
    scroll-behavior: smooth;
}

.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/img/main.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* gradient.css */
.navigation-background {
    background: linear-gradient(to right, #17499a, #ba0eca);
}

.timeline {
    position: relative;
    max-width: 2000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2px 2fr; /* Adjust this line */
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
}


.timeline::before {
    content: "";
    grid-column: 2;
    grid-row: 1 / span 20;
    background: rgb(225, 225, 225);
    border-radius: 1px;
}

.timeline-item {
    grid-column: 3;
    margin-inline: 1.5rem;
    grid-row: span 2;
    margin-bottom: 15px;
    display: grid;
    grid-template-rows: min-content min-content min-content;
}

.title, .descr {
    font-size: 20px;
}

body {
    -webkit-text-size-adjust: 100%;
    scroll-padding-top: 80px; /* Adjust this value to match your navbar's height */
    background: #111517;
}

.experience-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #5a5859, #b1a08c);
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures the navbar is always on top */
}

.custom-font-color {
    color: #d9dbc8
}

.techstack-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

@media only screen and (max-width: 600px) {
    .techstack-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media only screen and (min-width: 601px) {
    .techstack-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
}
.container {
    max-width: 100%;
    box-sizing: border-box;
}

.active {
    color: #c26b15; /* Change this to the color you want */
}

.gradient-bg {
    background: #111517;
}
/* Loader */
#Loader.hide-loader {
    display: none;
}

#Contacts a {
    position: relative;
    z-index: 1;
    pointer-events: auto;
}